@tailwind base;
@tailwind components;
@tailwind utilities;

/* Police globale comme la maquette */
body {
  font-family: "Lexend", "Noto Sans", sans-serif;
}

/* Material Symbols */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px;
}
.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
